<!DOCTYPE html>
<html th:replace="~{layout/app :: layout('料金編集', ~{::content}, 'charge')}">
<div th:fragment="content">
    <!--/*
        料金情報編集画面
    */-->

    <div th:if="!${#strings.isEmpty(message)}" class="alert alert-success">
        <span th:text="${message}"></span>
    </div>
    <form th:action="@{/charge/save}" th:object="${charge}" method="POST">
        <input type="hidden" th:field="*{chargeId}">
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label" for="name">*料金名</label>
            <div class="col-sm-10">
                <input type="text" required class="form-control" th:field="*{name}" maxlength="64">
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label" for="amount">*料金</label>
            <div class="col-sm-10">
                <input type="number" required class="form-control" th:field="*{amount}" min="1" max="999999999">
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label" for="startDate">*適用開始日</label>
            <div class="col-sm-10">
                <input type="date" required class="form-control" th:field="*{startDate}" name="joining_date">
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label" for="endDate">適用終了日</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" th:field="*{endDate}">
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">決定</button>
                <a class="btn btn-secondary" th:href="@{/charge/search}">キャンセル</a>
            </div>
        </div>
    </form>
</div>



</html>